@model ESW_Shelter.Models.DonationIndexViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_BackLayout.cshtml";
}

<h2>Criar um novo Donativo</h2>

<div class="row">
    <div class="col-md-10">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DateOfDonation" class="control-label"></label>
                <input asp-for="DateOfDonation" class="form-control" value="@DateTime.Now.ToString("dd-MM-yyyy");" />
                <span asp-validation-for="DateOfDonation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UsersFK" class="control-label"></label>
                <select class="input-lg" name="UsersFK" id="UsersFK">
                    <option value="0" style="color:#ccc !important;">
                        Por favor seleccione um tipo de animal!
                    </option>   1
                    @foreach (Users item in ViewBag.UsersFK)
                    {
                        <option value="@item.UserID" @(Model.UserID= =item.UserID ? "selected" : "" )>
                            @item.Name
                        </option>
                    }
                </select>
                <span asp-validation-for="UsersFK" class="text-danger"></span>
            </div>
            <div class="form-group">
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Products[0].Name)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Products[0].Quantity)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Products[0].AnimalTypeFK)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Products[0].ProductTypeFK)
                            </th>
                            <th>
                                Quantidade
                            </th>
                            <th>
                                Selecionar
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Products)
                        {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Quantity)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.AnimaltypeName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ProductTypeName)
                            </td>
                            <td>
                                <input name="quantityProduct @item.ProductID" id ="@item.ProductID" type="number" class="check" value="" style="color: black;" />
                            </td>
                            <td>
                                <input name="checkProduct" id="@item.ProductID" type="checkbox" class="check" value="@item.ProductID" />
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>