@using System.Text;

@{
    var plans = ViewData["plans"] as Stripe.Plan[];
}

<div class="row">
    <div class="col-md-4">
        <form asp-controller="Donations" asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <p><strong>Planos:</strong></p>
            <div class="form-group">
                @for (var i = 0; i < @plans.Length; i++)
                {
                    double value = Math.Truncate((double)plans[@i].Amount) / 100;
                    StringBuilder sb = new StringBuilder();
                    sb.Append(@plans[@i].Nickname);
                    sb.Append(" - ");
                    sb.Append(@value.ToString("0.00"));
                    sb.Append("€");

                    @Html.RadioButton("plans", @plans[@i].Id) @sb;

                    <br />
                }
            </div>
            <div class="form-group">
                <input type="submit" value="Selecionar" class="btn btn-primary button-image" />
            </div>
        </form>
    </div>
</div>