@model ESW_Shelter.Models.Donation

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_BackLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Donation</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DateOfDonation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateOfDonation)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UsersFK)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UsersFK)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.DonationID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
