@model ESW_Shelter.Models.DonationIndexViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_BackLayout.cshtml";
}

<h2>Donativos</h2>

<p>
    <a asp-action="Create">Criar um novo Donativo</a>
</p>
<form asp-controller="Donations" asp-action="Index" method="get">
    Data do Donativo:  <input type="date" name="DateString" style="color:black;">
    <select asp-for="ClientString" asp-items="Model.UsersNames">
        <option value="">Todos os Clientes</option>
    </select>
    <input type="submit" value="Pesquisar" style="background-color: coral" />
</form>
<div class="row profile">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Donation[0].DateOfDonation)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Donation[0].UsersFK)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Donation[0].ProductName)
                </th>
                <th>
                    Opções
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Donation)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateOfDonation)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UsersName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProductName)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.DonationID">Editar</a> |
                        <a asp-action="Delete" asp-route-id="@item.DonationID">Eliminar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

﻿@using Microsoft.AspNetCore.Http;

@{
    var username = Context.Session.GetString("User_Name");
    Layout = "~/Views/Shared/_Layout.cshtml";
    var plans = ViewData["plans"] as Stripe.Plan[];
}

<div class="row donations">
    <h2>Doações:</h2>
    <div class="col-md-6 donations-data">
        <p>
            Traga aos nossos patudos comida, brinquedos ou mantas ou opte por ser associado da Associação dos Amigos dos Animais Abandonados da Moita:
        </p>
        <h4>Planos de Associado:</h4>
        <ul id="planList">
            @for (var i = 0; i < plans.Length; i++)
            {
                double value = Math.Truncate((double)plans[i].Amount) / 100;
                <li data-id=@plans[@i].Id>@plans[@i].Nickname - @value.ToString("0.00")€</li>
            }
        </ul>
        <div class="button-wrapper">
            @if (string.IsNullOrEmpty(username))
            {
                <p class="not-logged-in">Para poder aderir ao nosso sistema de doações mensais terá de se registar!</p>
            }
            else
            {
               <div id="planCancel" class="btn button-image" style="display:none;">Cancelar</div>
               <div id="planSelector" class="btn btn-primary button-image" data-enabled="false">Ativar seleção</div>
            }
        </div>
    </div>
    <div class="col-md-6">
        <img src="~/images/dog_food.png">
    </div>
    <div id="cardModal" class="modal">
        <form asp-action="Card" asp-controller="Users">
            <h3>Adicionar Cartão:</h3>
            <div class="form-group">
                <label for="cardNumber" class="control-label">Número do Cartão:</label>
                <input id="cardNumber" class="form-control" placeholder="1111 2222 3333 4444" maxlength="16" />
            </div>
            <div class="form-group date">
                <div>
                    <label for="cardMonth" class="control-label">Mês:</label>
                    <input id="cardMonth" class="form-control" placeholder="12" maxlength="2" />
                </div>
                <div>
                    <label for="cardYear" class="control-label">Ano:</label>
                    <input id="cardYear" class="form-control" placeholder="19" maxlength="2" />
                </div>
                <div>
                    <label for="cardCvc" class="control-label">CVC:</label>
                    <input id="cardCvc" class="form-control" placeholder="123" maxlength="3" />
                </div>
            </div>
            <div class="form-group buttons">
                <div class="btn button-image cancel">Cancelar</div>
                <div class="btn btn-primary button-image add-card" >Adicionar</div>
            </div>
        </form>
    </div>
</div>