@model ESW_Shelter.Models.AnimalIndexViewModel

@{
    ViewData["Title"] = "AnimalDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div>
    <div class="row about">
        <h2>@Html.DisplayFor(model => model.Animals[0].Name)</h2>
        <hr />
        <div class="col-md-4">
            @if (Model.Pictures.Exists(e => e.AnimalFK == Model.Animals[0].AnimalID))
            {
                var pic = Model.Pictures.Where(e => e.AnimalFK.Equals(Model.Animals[0].AnimalID)).FirstOrDefault();
                <img src="~/images/Galeria_@Model.Animals[0].AnimalID/@pic.FileName" alt="Sem Imagem" class="" width="450" height="450" />
            }
            else
            {

            }
        </div>
        <div class="col-md-6">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Animals[0].Name)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Animals[0].Name)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Animals[0].DateOfBirth)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Animals[0].DateOfBirth)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Animals[0].Disinfection)
                </dt>
                <dd>
                    @if (Model.Animals[0].Disinfection)
                    {
                        <p>Sim</p>
                    } else
                    {
                        <p>Não</p>
                    }
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Animals[0].Neutered)
                </dt>
                <dd>
                    @if (Model.Animals[0].Neutered)
                    {
                        <p>Sim</p>
                    }
                    else
                    {
                        <p>Não</p>
                    }
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Animals[0].Description)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Animals[0].Description)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Animals[0].AnimalTypeFK)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Animals[0].AnimaltypeName)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Animals[0].AnimalRaceFK)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Animals[0].AnimalRaceName)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Animals[0].OwnerFK)
                </dt>
                <dd>
                    @if (Model.Animals[0].OwnerFK == 0)
                    {
                        <p>Por Adoptar</p>
                    }
                    else
                    {
                        <p>Adoptado</p>
                    }
                </dd>
            </dl>

            <div class="form-group">
                <label asp-for="Animals[0].ProductFKDetails" class="control-label"></label>
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Animals[0].Name)
                            </th>
                            <th>
                                Tipo de produto
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.Products.Count() == 0)
                        {
                            <tr>
                                <td>
                                    <p>Este animal não tem necessidades especiais!</p>
                                </td>
                                <td></td>
                            </tr>
                        }
                        @foreach (Product item in Model.Products)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ProductTypeName)
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="form-group">
                <label asp-for="Animals[0].GodFathers" class="control-label"></label>
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Animals[0].Name)
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.UsersNames.Count() == 0)
                        {
                            <tr>
                                <td>
                                    <p>Este animal não tem padrinhos! Se tiver interessado, entre em contacto com alguêm da associação para saber mais!</p>
                                </td>
                            </tr>
                        }
                        @foreach (Users item in Model.UsersNames)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


