@model ESW_Shelter.Models.AnimalIndexViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_BackLayout.cshtml";
}

<h2>Animais</h2>

<p>
    <a asp-action="Create">Criar um novo animal</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Animals[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Animals[0].DateOfBirth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Animals[0].Disinfection)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Animals[0].Neutered)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Animals[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Animals[0].Foto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Animals[0].AnimalTypeFK)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Animals[0].AnimalRaceFK)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Animals[0].OwnerFK)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Animals) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfBirth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Disinfection)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Neutered)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @if (Model.Pictures.Exists(e => e.AnimalFK == item.AnimalID))
                {
                    var pic = Model.Pictures.Where(e => e.AnimalFK.Equals(item.AnimalID)).FirstOrDefault();
                    <img src="~/images/Galeria_@item.AnimalID/@pic.FileName" alt="Icon" class="" width="70" height="70" />
                }
                else
                {

                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AnimaltypeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AnimalRaceName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OwnerName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.AnimalID">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.AnimalID">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.AnimalID">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
