
@{
    Layout = null;
}

@using Microsoft.AspNetCore.Http;
@{
    ViewData["User_Name"] = Context.Session.GetString("User_Name");
    ViewData["UserID"] = Context.Session.GetString("UserID");
    ViewData["Title"] = "Index";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ESW_Shelter</title>

    <environment include="Development">
        <!-- Manter aqui o  css e o js quando abrir no visual studio -->
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
        <!-- Manter aqui o  css e o js quando abrir no azure -->
        <!-- <link rel="stylesheet" href="~/css/site.css" /> -->
        <!-- <script src="~/js/site.js" asp-append-version="true"></script> -->
    </environment>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top" style="background-image: linear-gradient(to bottom left, #ff9933 21%, #ffffcc 103%); border-bottom-color: transparent">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-area="" asp-controller="Home" asp-action="Index" style="color: black;">
                    <img src="~/images/navIcon.png" alt="ASP.NET" class="img-responsive" />
                </a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav" style="background: linear-gradient(to bottom, #ff9933 32%, #ffcc99 88%);">
                    <li><a asp-area="" asp-controller="Home" asp-action="Index" style="color: black;">Home</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="About" style="color: black;">About</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Contact" style="color: black;">Contact</a></li>
                    @if (ViewData["User_Name"] != null)
                    {
                        <li><a asp-area="" asp-controller="Users" asp-action="Profile" asp-route-id="@ViewData["UserID"]" style="color: black;font-weight: bold;">Welcome @ViewData["User_Name"]!</a></li>
                    }
                    else
                    {
                        <li><a asp-area="" asp-controller="Home" asp-action="Account" style="color: black;">Account</a></li>
                    }
                </ul>
            </div>
        </div>
    </nav>

    <partial name="_CookieConsentPartial" />

    <div class="container body-content">
        @RenderBody()
        <hr />
        <div class="row">
            <h2>Management</h2>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-4 col-sm-6">
                    <div class="vertical-menu">
                        <a href="#" class="active">Home</a>
                        <a asp-area="" asp-controller="Users" asp-action="Get" style="color: black;">Users</a>
                        <a href="#">Donations</a>
                        <a href="#">Animals</a>
                    </div>
                </div>
                <div class="col-8 col-sm-6">
                    <p>This Page is for backend! Administrators only!</p>
                </div>
            </div>
        </div>
        <!-- Footer -->
        <footer class="page-footer font-small blue">

            <!-- Copyright -->
            <div class="footer-copyright text-center py-3">
                © 2018 Copyright:
                <a href="https://mdbootstrap.com/education/bootstrap/"> MDBootstrap.com</a>
                <p>&copy; ESW 2018/19 - Grupo 2 { Roberto Pato, Miguel Gomes, Rafael Botas, David Antunes, David Afonso }</p>
            </div>
            <!-- Copyright -->

        </footer>
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>
    <div class="modal" id="modal">

    </div>
    }
    @if (TempData["Message"] != null)
    {
        <script> $(document).ready(function () { alert('@TempData["Message"].ToString()'); }); </script>
    }
    @RenderSection("Scripts", required: false)
</body>
</html>

