@model IEnumerable<ESW_Shelter.Models.Roles>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_BackLayout.cshtml";
    IQueryable<RoleAuthorization> getPermissions = ViewBag.Permission;
}

<h2>
    Roles - @if (getPermissions.Where(e => e.ComponentFK == 2 && e.Create == true).Any())
    {
            <a asp-action="Create">Criar um novo Role</a>
    }
</h2>
<hr />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RoleName)
            </th>
            <th>
                Opções
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.RoleName)
                </td>
                <td>
                    @if (item.RoleID != 1 && item.RoleID != 2)
                    {
                        @if (getPermissions.Where(e => e.ComponentFK == 2 && e.Create == true).Any())
                        {
                            <a asp-action="Edit" asp-route-id="@item.RoleID">Editar </a>
                        }
                        @if (getPermissions.Where(e => e.ComponentFK == 2 && e.Read == true).Any())
                        {
                            <a asp-action="Details" asp-route-id="@item.RoleID"> Detalhes </a>
                        }
                        @if (getPermissions.Where(e => e.ComponentFK == 2 && e.Delete == true).Any())
                        {
                            <a asp-action="Delete" asp-route-id="@item.RoleID"> Eliminar</a>
                        }
                    }
                    else
                    {
                        <p>Não pode alterar permissões de raiz</p>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
